<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Pose #<%= @pose.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/poses" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link pose start -->
      <div class="col">
        <a href="/poses/<%= @pose.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit pose
        </a>
      </div>
      <!-- Edit link pose end -->

      <!-- Delete link pose start -->
      <div class="col">
        <a href="/delete_pose/<%= @pose.id %>" class="btn btn-block btn-outline-secondary">
          Delete pose
        </a>
      </div>
      <!-- Delete link pose end -->
    </div>

    <dl>
      <dt>
        English name
      </dt>
      <!-- Display english_name start -->
      <dd>
        <%= @pose.english_name %>
      </dd>
      <!-- Display english_name end -->

      <dt>
        Sanksrit
      </dt>
      <!-- Display sanksrit start -->
      <dd>
        <%= @pose.sanksrit %>
      </dd>
      <!-- Display sanksrit end -->

      <dt>
        Sequence
      </dt>
      <!-- Display sequence_id start -->
      <dd>
        <% if @pose.flow.present? %>
          <a href="/yoga_flows/<%= @pose.sequence_id %>">
            <%= @pose.flow.name %>
          </a>
        <% end %>
      </dd>
      <!-- Display sequence_id end -->

      <dt>
        Picture
      </dt>
      <!-- Display picture start -->
      <dd>
        <%= @pose.picture %>
      </dd>
      <!-- Display picture end -->

      <dt>
        Sun a
      </dt>
      <!-- Display sun_a_id start -->
      <dd>
        <% if @pose.sun_a.present? %>
          <a href="/sun_as/<%= @pose.sun_a_id %>">
            <%= @pose.sun_a.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display sun_a_id end -->

      <dt>
        Sun b
      </dt>
      <!-- Display sun_b_id start -->
      <dd>
        <% if @pose.sun_b.present? %>
          <a href="/sun_bs/<%= @pose.sun_b_id %>">
            <%= @pose.sun_b.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display sun_b_id end -->

      <dt>
        Sun c
      </dt>
      <!-- Display sun_c_id start -->
      <dd>
        <% if @pose.sun_c.present? %>
          <a href="/sun_cs/<%= @pose.sun_c_id %>">
            <%= @pose.sun_c.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display sun_c_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@pose.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@pose.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
