<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All yoga flows
    </h1>

    <a href="/yoga_flows/new" class="btn btn-block btn-outline-secondary">
      Add a new yoga flow
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "yoga_flow_templates/yoga_flows_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Intention
        </th>

        <th>
          Pose
        </th>

        <th>
          User
        </th>

        <th>
          Description
        </th>

        <th>
          Yoga type
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @yoga_flows.each do |yoga_flow| %>
      <tr>
        <td>
          <%= yoga_flow.id %>
        </td>

        <td>
          <%= yoga_flow.name %>
        </td>

        <td>
          <%= yoga_flow.intention %>
        </td>

        <td>
          <%= yoga_flow.pose_id %>
        </td>

        <td>
          <% if yoga_flow.user.present? %>
            <a href="/users/<%= yoga_flow.user.id %>">
              <%= yoga_flow.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= yoga_flow.description %>
        </td>

        <td>
          <%= yoga_flow.yoga_type %>
        </td>

        <td>
          <%= time_ago_in_words(yoga_flow.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(yoga_flow.updated_at) %> ago
        </td>

        <td>
          <a href="/yoga_flows/<%= yoga_flow.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @yoga_flows, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
