<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Yoga flow #<%= @yoga_flow.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/yoga_flows" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @yoga_flow.user %>
          <a href="/yoga_flows/<%= @yoga_flow.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit yoga_flow
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @yoga_flow.user %>
          <a href="/delete_yoga_flow/<%= @yoga_flow.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete yoga_flow
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @yoga_flow.name %>
      </dd>

      <dt>
        Intention
      </dt>
      <dd>
        <%= @yoga_flow.intention %>
      </dd>

      <dt>
        Pose
      </dt>
      <dd>
        <%= @yoga_flow.pose_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @yoga_flow.user.present? %>
          <a href="/users/<%= @yoga_flow.user_id %>">
            <%= @yoga_flow.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @yoga_flow.description %>
      </dd>

      <dt>
        Yoga type
      </dt>
      <dd>
        <%= @yoga_flow.yoga_type %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@yoga_flow.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@yoga_flow.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "yoga_flow_templates/yoga_flow_poses" %>
  </div>
</div>
