<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All sun bs
    </h1>

    <a href="/sun_bs/new" class="btn btn-block btn-outline-secondary">
      Add a new sun b
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "sun_b_templates/sun_bs_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @sun_bs.each do |sun_b| %>
      <tr>
        <!-- Display sun_b.id start -->
        <td>
          <%= sun_b.id %>
        </td>
        <!-- Display sun_b.id end -->

        <!-- Display sun_b.created_at start -->
        <td>
          <%= time_ago_in_words(sun_b.created_at) %> ago
        </td>
        <!-- Display sun_b.created_at end -->

        <!-- Display sun_b.updated_at start -->
        <td>
          <%= time_ago_in_words(sun_b.updated_at) %> ago
        </td>
        <!-- Display sun_b.updated_at end -->

        <td>
          <a href="/sun_bs/<%= sun_b.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @sun_bs, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
