<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Sun b #<%= @sun_b.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/sun_bs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/sun_bs/<%= @sun_b.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit sun b
        </a>
      </div>

      <div class="col">
        <a href="/delete_sun_b/<%= @sun_b.id %>" class="btn btn-block btn-outline-secondary">
          Delete sun b
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@sun_b.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@sun_b.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "sun_b_templates/sun_b_poses" %>
  </div>
</div>
