<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Sun a #<%= @sun_a.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/sun_as" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/sun_as/<%= @sun_a.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit sun a
        </a>
      </div>

      <div class="col">
        <a href="/delete_sun_a/<%= @sun_a.id %>" class="btn btn-block btn-outline-secondary">
          Delete sun a
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@sun_a.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@sun_a.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "sun_a_templates/sun_a_poses" %>
  </div>
</div>
