<form action="/create_pose_from_sun_c" method="post">

  <div class="form-group">
    <label for="english_name">
      English name
    </label>

    <input type="text" id="english_name" name="english_name" class="form-control" value="<%= @pose.english_name %>">
  </div>

  <div class="form-group">
    <label for="sanksrit">
      Sanksrit
    </label>

    <input type="text" id="sanksrit" name="sanksrit" class="form-control" value="<%= @pose.sanksrit %>">
  </div>

  <div class="form-group">
    <label for="sequence_id">
      Sequence
    </label>

    <%= select_tag(:sequence_id, options_from_collection_for_select(YogaFlow.all, :id, :name, @pose.sequence_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="picture">
      Picture
    </label>

    <input type="text" id="picture" name="picture" class="form-control" value="<%= @pose.picture %>">
  </div>

  <div class="form-group">
    <label for="sun_a_id">
      Sun a
    </label>

    <%= select_tag(:sun_a_id, options_from_collection_for_select(SunA.all, :id, :created_at, @pose.sun_a_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="sun_b_id">
      Sun b
    </label>

    <%= select_tag(:sun_b_id, options_from_collection_for_select(SunB.all, :id, :created_at, @pose.sun_b_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="sun_c_id" value="<%= @sun_c.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create pose
  </button>
</form>
