<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Sun c #<%= @sun_c.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/sun_cs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/sun_cs/<%= @sun_c.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit sun c
        </a>
      </div>

      <div class="col">
        <a href="/delete_sun_c/<%= @sun_c.id %>" class="btn btn-block btn-outline-secondary">
          Delete sun c
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@sun_c.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@sun_c.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "sun_c_templates/sun_c_poses" %>
  </div>
</div>
